@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Source Sans Pro", sans-serif;
}

#logo {
  width: 15rem;
}

.top-section {
  background: linear-gradient(to bottom, rgb(248, 162, 1), rgb(243, 176, 51));
  color: white;
  height: 40vh;
}

.header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  line-height: 3rem;
  width: 100%;
  background-color: transparent;
}

.left {
  font-size: 1.5rem;
  font-weight: bolder;
}

.middle {
  display: flex;
}

.header-item {
  margin: 0 10px;
}

.bottom-header {
  display: flex;
  margin: 15px 30px;
}

.title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.sub-info {
  font-size: 0.7rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.right-container {
  width: 30%;
}

.icon {
  margin-top: 10px;
  width: 35px;
}
.dark-mode {
  filter: invert(1) hue-rotate(180deg)
}
