@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background: rgb(221, 221, 221);
  min-width: 1200px;
}

.top-header {
  display: flex;
  width: 100%;
  padding: 2px 0px;
  color: white;
  background: rgb(48, 48, 48);
  justify-content: space-around;
  align-items: baseline;
  font-size: 0.9rem;
  z-index: 10;
}

.left-cont {
  display: flex;
  justify-content: center;
  width: 20%;
}

.right-cont {
  width: 80%;
  display: flex;
  margin-right: 150px;
  justify-content: flex-end;
}

.search-box {
  color: white;
  background: rgb(71, 71, 71);
  margin: 2px 0px;
  padding: 0px 10px;
  border-radius: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box:hover > #search {
  width: 220px;
}
#search {
  border: none;
  background: none;
  outline: none;
  transition: all 0.4s ease;
  width: 0px;
  color: white;
}

.navbar {
  position: relative;
  height: 8vh;
  background: linear-gradient(to bottom, rgb(248, 162, 1), rgb(243, 173, 44));
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vh;
  overflow: hidden;
}

.banner-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: white;
  background: linear-gradient(to bottom, rgb(243, 173, 44), rgb(243, 176, 51));
}

.left-container {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20%;
  left: 5px;
}

.left-container p {
  width: 90%;
  margin-left: 10%;
}

.right-container {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
}

#logo {
  width: 70%;
  object-fit: contain;
  margin-left: 10%;
}

.title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.sub-info {
  font-size: 0.9rem;
}

.hidden {
  visibility: hidden;
}
