@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  background: rgb(243, 241, 237);
}

#logo {
  width: 15rem;
}

.top-section {
  background: linear-gradient(to bottom, rgb(248, 162, 1), rgb(243, 176, 51));
  color: white;
  height: 40vh;
}

.bottom-header {
  display: flex;
  margin: 15px 30px;
  align-items: flex-start;
}

.title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.sub-info {
  font-size: 0.7rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.right-container {
  width: 30%;
}

.dark-mode {
  filter: invert(1) hue-rotate(180deg);
}
