footer {
  background: gray;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}

footer a:hover {
  color: orange;
}

.footer-container {
  display: flex;
  flex-direction: column;
}
