.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 3rem;
  width: 100%;
  background-color: transparent;
  padding-top: 10px;
}

.left {
  margin-left: 20px;
  font-size: 1.9rem;
  font-weight: bolder;
}

.right {
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}

.header-item {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.navigation .icon {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 0px 10px;
  width: 35px;
  height: 35px;
  transition: color 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .icon:hover {
  cursor: pointer;
  color: rgb(248, 162, 1);
  border: 0.8px solid rgb(83, 7, 83);
}
