.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  line-height: 3rem;
  width: 100%;
  background-color: transparent;
}

.left {
  margin-left: 20px;
  font-size: 1.9rem;
  font-weight: bolder;
}

.right {
  display: flex;
  flex-direction: row;
}

.header-item {
  margin: 0 10px;
  transition: 0.5s ease;
  text-transform: uppercase;
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.header-item:hover {
  color: purple;
  cursor: pointer;
}

.icon {
  background: white;
  color: black;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 0px 0px 5px;
  width: 35px;
  height: 35px;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  cursor: pointer;
  color: purple;
}
